body {
	/*height: 100%;*/
	margin: 0;
	text-align: center;
	/*width: 100%;*/
}

h1 {
	text-align: center;
	font-size: 32px;
	font-family: Verdana, Geneva, sans-serif;
  color: rgb(46,105,163);
}

h2 {
	text-align: center;
	font-size: 32px;
	font-family: Verdana, Geneva, sans-serif;
  color: rgb(46,105,163);
}

img {
  width: 512px;
  height: 384px;
}

p {
  font-size: 2rem;
}

.menu-links{
  width: 20%;
  /*margin-top: auto;
	margin-bottom: auto;*/
}



.content {
	overflow: hidden;
	width: 80%;
	padding-left: 400px;
}


.active {
    background-color: #4CAF50;
    color: white;
}
